main {
    background: #68ADEC;
    width: 100vw;
    height: 100vh;
}

/* Segmenting page for divs */
#page-title-div {
    height: 10%;
}

#modules-page-title-div {
    height: 12%;
}

#branch-menu-div, #test-status-menu-div {
    height: 7%;
}

#tests-table-div, #builds-table-div {
    height: 83%;
    width: 85%;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    overflow: auto;
}

#results-table-div {
    height: 83%;
    width: 85%;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: white;
    overflow: auto;
}

/* Styling back button */
#modules-page-back-button {
    height: 5%;
}

.back-button {
    display: inline-block;
    padding: 5px 15px;
    background-color: #f1f1f1;
    color: #333;
    text-decoration: none;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #ddd;
}

.back-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #333;
}
  
/* Dropdown menu styling */
#page-title {
    margin: 5% 0% 5% 0%;
    color: white;
    font-size: 150%
}

#branch-menu-label {
    color: white;
}

#branch-menu, #test-status-menu {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Styling expanding/reducing table cells */
.tData {
    position: relative;
}

.tests-row {
    max-height: 40px;
    overflow: hidden;
    transition: max-height 0.1s ease;
}

.tests-row.expanded {
    max-height: none;
}

.expand-message {
    color: black;
    opacity: 0;
    padding: 5px;
    transition: opacity 0.3s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tData:hover .expand-message {
    opacity: 1;
}

/* General table styling */
table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    overflow: scroll;
    
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    table-layout: fixed;
    white-space: pre-wrap;
    word-break: break-word;
}

table th {
    font-weight: bold;
    padding: 10px;
    letter-spacing: 1px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    text-overflow: ellipsis;
    overflow: hidden;
  }

table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Style table row borders */
tr {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

/* Style table header cells */
th {
    font-size: 18px;
    font-weight: bold;
}

/* Style alternating rows */
tr:nth-child(even) {
    background-color: #f9f9f9;
}
table tr:hover td {
    background-color: #D0E9FF;
}

/* Highlighting the test result statuses */
.failed-highlight {
    background-color: #F16161;
    border-radius: 3.5px;
}

.skipped-highlight {
    background-color: #F1AF61;
    border-radius: 3.5px;
}

.passed-highlight {
    background-color: #47F66E;
    border-radius: 3.5px;
}

.total-highlight {
    background-color: #47CCF6;
    border-radius: 3.5px;
}